* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    scroll-behavior: smooth;
    resize: vertical;
    --color1: cyan;
    --color2: yellow;
    --color3: magenta;
}

@font-face {
    font-family: "Monoton";
    src: url("../fonts/Monoton-Regular.ttf") format("woff2");
}

body {
    color: white;
    background-color: black;
}

h1, h2, h3, p {
    padding: 30px;
}

.hero h1 {
    color: cyan;
    font-family: "Monoton", cursive;
    font-weight: 100;
    font-size: 6rem;
    padding: 30px;
    text-shadow: 1.2px 1.2px 0px black;

}

.hero h2 {
    color: magenta;
    font-family: "Monoton", cursive;
    font-weight: 100;
    font-size: 3rem;
    padding: 0px 30px;
    text-shadow: 0.5px 0.5px 0px black;
}

@media ( max-width: 950px ) {
    .hero h1{
        font-size: 5rem;
    }

    .hero h2 {
        font-size: 2rem;
    }
}

@media ( max-width: 802px ) {
    .hero h1{
        font-size: 4rem;
    }

    .hero h2 {
        font-size: 1.7rem;
    }
}

.hero {
    display: table-cell;
    width: 100vw;
    height: 100vh;
    background-image: url(../img/chica.webp);
    background-size: cover;
    background-position: left;
    text-align: right;
    vertical-align: middle;
    position: relative;
    z-index: -1;
}

@media ( max-width: 653px ) {
    .hero h1, .hero h2 {
        text-align: center;
    }

    .hero {
        background-position-x: -150px;
    }
}

