* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@keyframes entradaIzquierda {
    from { 
        left: -1500px; 
        opacity: 0;
    }
    to   { 
        left: 0; 
    }
}

@-moz-keyframes entradaIzquierda {
    from { 
        left: -1500px; 
        opacity: 0;
    }
    to   { 
        left: 0; 
    }
}

@-webkit-keyframes entradaIzquierda {
    from { 
        left: -1500px; 
        opacity: 0;
    }
    to   { 
        left: 0; 
    }
}

@keyframes entradaArriba {
    from { 
        top: -500px; 
        opacity: 0;
    }
    to   { 
        top: 0; 
    }
}

@-moz-keyframes entradaArriba {
    from { 
        top: -500px; 
        opacity: 0;
    }
    to   { 
        top: 0; 
    }
}

@-webkit-keyframes entradaArriba {
    from { 
        top: -500px; 
        opacity: 0;
    }
    to   { 
        top: 0; 
    }
}

@font-face {
    font-family: "Monoton";
    src: url("../fonts/Monoton-Regular.ttf") format("woff2");
}

body {
    color: white;
    background-color: black;
}

h1, h2, h3 {
    padding: 30px;
}

p {
    padding: 10px 30px;
}

.hero h1 {
    position: relative;
    color: cyan;
    font-family: "Monoton", cursive;
    font-weight: 100;
    font-size: 6rem;
    padding: 30px;
    text-shadow: 1.2px 1.2px 0px black;
    -moz-animation: entradaArriba 1s;
    -webkit-animation: entradaArriba 1s;
    animation: entradaArriba 1s;
}

.hero h2 {
    position: relative;
    color: magenta;
    font-family: "Monoton", cursive;
    font-weight: 100;
    font-size: 3rem;
    padding: 0px 30px;
    text-shadow: 0.5px 0.5px 0px black;
    -moz-animation: entradaIzquierda 1s;
    -webkit-animation: entradaIzquierda 1s;
    animation: entradaIzquierda 1s;
}

@media ( max-width: 950px ) {
    .hero h1{
        font-size: 5rem;
    }

    .hero h2 {
        font-size: 2rem;
    }
}

@media ( max-width: 802px ) {
    .hero h1{
        font-size: 4rem;
    }

    .hero h2 {
        font-size: 1.7rem;
    }
}

.hero {
    display: table-cell;
    width: 100vw;
    height: 100vh;
    background-image: url(../img/chica.webp);
    background-size: cover;
    background-position: left;
    text-align: right;
    vertical-align: middle;
    position: relative;
    z-index: -1;
}

@media ( max-width: 653px ) {
    .hero h1, .hero h2 {
        text-align: center;
    }

    .hero {
        background-position-x: -150px;
    }
}

.titulares {
    background-color: magenta;
    clip-path: ellipse(200px 90px at 10% 0%);
}

.titulares h2 {
    font-family: "Monoton", cursive;
    font-weight: 100;
    margin: 0 0 0 1vw;
    position: relative;
    top: -10px
}

.negritaamarillo {
    color: yellow;
    font-weight: 900;
}

article.texto:nth-child(2) {
    font-size: 1.5rem;
   /* display: flex;
    flex-direction: row;*/
    max-width: 550px;
    min-width: 30vw;
}

article.texto:nth-child(3) {
    text-align: right;
    font-size: 1.5rem;
   /* display: flex;
    flex-direction: row;*/
    min-width: 10vw;
    width: 350px;
    position: relative;
    left: 180px;
}

@media (max-width: 540px) {
    article.texto:nth-child(3) {
        left: 140px;
    }
}

@media (max-width: 496px) {
    article.texto:nth-child(3) {
        left: 110px;
    }
}

@media (max-width: 460px) {
    article.texto:nth-child(3) {
        left: 80px;
    }
}

@media (max-width: 430px) {
    article.texto:nth-child(3) {
        left: 60px;
    }
}

@media (max-width: 410px) {
    article.texto:nth-child(3) {
        left: 45px;
    }
}

@media (max-width: 400px) {
    article.texto:nth-child(3) {
        position: static;
        text-align: center;
        margin: 0 auto;
    }
}

article.texto:nth-child(4), article.texto:nth-child(5) {
    font-size: 1.5rem;
   /* display: flex;
    flex-direction: row;*/
    max-width: 550px;
    min-width: 30vw;
}

article.texto:nth-child(6) {
    text-align: center;
    font-size: 1rem;
   /* display: flex;
    flex-direction: row;*/
    max-width: 350px;
    margin: 0 100px;
}

/* Barra del deslizador */
::-webkit-scrollbar {
    width: 10px;
    transition: 0.5s;
    border-radius: 30px;
}


/* Hueco, el contenedor general de todo el resto de elementos, botones incluidos.*/
::-webkit-scrollbar-track {
    background: black;
    border-radius: 30px;            
    transition: 0.2s;
}


/* La barra o rail sobre la que se desliza el manejador */
::-webkit-scrollbar-track-piece {
    background: cyan;
}


/* Slider */
::-webkit-scrollbar-thumb {
    background: magenta;
    border-radius: 15px;
    transition: 0.5s;
}


/* Slider al hacer hover */
::-webkit-scrollbar-thumb:hover {
    background: yellow;
    transition: 0.5s;
}