* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    scroll-behavior: smooth;
    resize: vertical;
    --color1: cyan;
    --color2: yellow;
    --color3: magenta;
}

@font-face {
    font-family: "Monoton";
    src: url("../fonts/Monoton-Regular.ttf") format("woff2");
}

body {
    color: white;
    background-color: black;
}

h1, h2, h3, p {
    padding: 30px;
}

#h1hero {
    color: cyan;
    font-family: "Monoton", cursive;
    font-weight: 100;
    font-size: 6rem;
    padding: 30px;
    text-shadow: 1.2px 1.2px 0px black;

}

#h2hero {
    color: magenta;
    font-family: "Monoton", cursive;
    font-weight: 100;
    font-size: 3rem;
    padding: 0px 30px;
    text-shadow: 0.5px 0.5px 0px black;
}

.hero {
    display: table-cell;
    width: 100vw;
    height: 100vh;
    background-image: url(../img/chica.webp);
    background-size: cover;
    /*background-attachment: fixed;*/
    background-position: left;
    text-align: right;
    vertical-align: middle;
    position: relative;
    z-index: -1;
}

